@charset "UTF-8";


body {
	background-image: url("../images/greybackground.jpg");
	margin: 0; padding: 0; border: 0; font-size: 100%;
}

.button {
	background-color: beige;
	width: 120px;
	height: 64px;
	border-radius: 50px;
	margin-left: 32px;
	margin-top: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button:hover{
	background-color: chartreuse
}

nav {
	display: flex;
	flex-direction: row;
}

.navbuttons {
	color: cadetblue
}

.googlefont {
	margin-top: -20px;
	font-family: 'DotGothic16', sans-serif;
}


.row {
	background-color: aliceblue;
	background-image: url("../images/movingbanner.gif");
	width:900px;
	height: 264px;
	margin-left:auto;
	margin-right: auto;
}